body{
    width:1000px;
    height: 300px;
    overflow: scroll;
    border: 2px solid transparent;
    padding: 25px;
    margin: 150px;
    background-image: url(fondo2.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
        

}
.perfil {
    font-family: fantasy;
    color: blueviolet;
    font-size: 50px;
}
.sugerido{
    font-family: fantasy;
    color: blueviolet;
    font-size: 30px;
}
.negrita{
    font-weight: bold;
    font-size:50px;
    text-shadow: 9px 6px 4px yellowgreen;
}
p{
    font-style: oblique;
    font-size: 15px;
    color: yellowgreen;
    text-align: left;
    letter-spacing: 1px;
}
h2,h3,h4{
    color: burlywood;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    padding:3px;
    border: 3px groove thistle ;
}
ul>li:hover{
    list-style: square inside;
    background-color: greenyellow;
    border: 10px black turquoise;
}
a:visited{
    color: white;

}